@import './theme-variables.scss';
@import './mixins.scss';

.btn-primary{
    min-width: 8.875rem;
    min-height: 3.375rem;
    background: getColor(g-lightblue) !important;
    color: getColor(g-white) !important;
    border-width: 2px !important;
    border-color: getColor(g-lightblue) !important;
    border-radius: 0.625rem !important;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    .theme-dark &{        
        background: getColor(g-sidebar-dark) !important;
        border-color: getColor(g-white) !important;
    }
}
.btn-outline{
    min-width: 8.875rem;
    min-height: 3.375rem;
    background: transparent !important;
    color: getColor(g-lightblue) !important;
    border-width: 2px !important;
    border-color: getColor(g-lightblue) !important;
    border-radius: 0.625rem !important;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    .theme-dark &{        
        background: getColor(g-sidebar-dark) !important;
        border-color: getColor(g-white) !important;
        color: getColor(g-white) !important;
    }
}
.btn-sm{
    min-width: 6.075rem;
    min-height: 1.938rem;
}
.btn-md{
    min-width: 4.969rem;
    min-height: 2.375rem;
}
.btn-lg{
    min-width: 9.246rem;
    min-height: 3rem;
}
.btn-right-sidebar{
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    gap: 0.25rem;
    align-self: stretch;
    border-radius: 0.5rem;
    border: 1px solid getColor(g-white);
    background: getColor(g-white);
    color: getColor(g-black);
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.20);
    .theme-dark &{        
        background: getColor(g-sidebar-dark) !important;
        border-color: getColor(g-white) !important;
        color: getColor(g-white) !important;
    }
    span,i{
        color:  getColor(g-lightblue) !important;
    }
    &.active{
        background: getColor(g-lightblue) !important;
        span,i{
            color: getColor(g-white) !important;
        }   
    }
}