// theme-variables.scss
$colorHeaderLightFooter: #fff;
$colorLightLightText: #000;
$colorLightBackground: #f8f8fa;

$colorHeaderDarkFooter: #36394c;
$colorLightDarkText: #eff2f7;
$colorDarkBackground: #222736;


$theme-colors:(
    g-black: #000,
    g-white: #fff,
    g-border: #ACACAC,
    g-lightblue: #00A3FF,
    g-sidebar-main: #f1f1f1,
    g-sidebar-main-dark: #333333,    
    g-sidebar: #ffffff,
    g-sidebar-dark: #121212,
    g-menu-items-bg: #d9d9d9,
    g-menu-items-bg-dark: #121212,
    g-theme-status: #BABABA,
    g-menu-items-text-dark: #575757,
    g-button-bg-dark: #333333,
    g-sidebar-right-icon: #737373,
    g-sidebar-right-icon-dark: #737373,
);

@function getColor($color){
    @return map-get($theme-colors, $color);
}