@font-face {
    font-family: '';
    src: url('../../../public/assets/fonts/inter/Inter-Black.ttf'),
         url('../../../public/assets/fonts/inter/Inter-Bold.ttf'),
         url('../../../public/assets/fonts/inter/Inter-ExtraBold.ttf'),
         url('../../../public/assets/fonts/inter/Inter-ExtraLight.ttf'),
         url('../../../public/assets/fonts/inter/Inter-Light.ttf'),
         url('../../../public/assets/fonts/inter/Inter-Medium.ttf'),
         url('../../../public/assets/fonts/inter/Inter-Regular.ttf'),
         url('../../../public/assets/fonts/inter/Inter-SemiBold.ttf'),
         url('../../../public/assets/fonts/inter/Inter-Thin.ttf');

    font-weight: normal;
    font-style: normal;
    font-display: block;
}