@import './core/theme-variables.scss';
@import './core/mixins.scss';
@import './core/typography.scss';
@import './core/utils.scss';
@import './core/button.scss';
@import './core/sidebar.scss';
@import './core/style.css';

:root {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 1rem;
}
body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.App{
    background: getColor(g-sidebar-main);
    &.theme-dark{
        background: getColor(g-sidebar-main-dark);
    }
}

.g-main{
    position: relative;
    height: 100vh;    
    a{
        text-decoration: none;
    }
    .text-muted{
        .theme-dark & {
            color: getColor(g-white) !important;
        }
    }
    .center-layout{
        width: calc(100% / 1);
        padding: 1.5rem 1rem;
        margin: 0 15.125rem 0 23.125rem;
        background: getColor(g-sidebar-main);
        .theme-dark &{
            background: getColor(g-sidebar-main-dark);
        }
    }
    .elipse{
        position: absolute;
        z-index: -1;
        &.top{
            top: 0;
            right: 0;
        }
        &.bottom{
            bottom: 0px;
            left: 0;
        }
    }
    .forms-wrapper{
        height: 100vh;    
        .logo-img{
            margin: 0 0 2.5rem 0;
            width: 15%;
        }
        .l-side{
            .login-heading{
                color: getColor(g-black);
                font-size: 3rem;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
            }
            .login-sub-heading{
                color: getColor(g-black);
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin: 0 0 2.5rem 0;
            }
            .login-phone-number-wrapper{
                label{
                }
                input{
                    min-width: 28.8125rem;
                    padding: 1rem;
                    border-radius: 0.5rem;
                    border: 1px solid getColor(g-border);
                }
                .forgot-pass-link{
                    display: block;
                    text-decoration: none;
                }
            }
        }
        .r-side{
            padding: 0 0 0 1rem;
            border-left: 1px solid;
            .headings-container{
                margin: 0 0 2.5rem 0;
                .app-heading{
                    color: getColor(g-lightblue);
                    font-size: 1.875rem;
                    font-weight: 800;
                    text-transform: capitalize;
                }
                .app-sub-heading{
                    font-size: 1.375rem;
                    font-weight: 400;
                    line-height: normal;
                }
            }
            .app-button{
                margin: 0.25rem 0;
                display: inline-block;
            }
        }
    }
    .settings-payment-mode-container{
        button{
            margin: 0 1rem;
            img{

            }
        }
    }
    .home-comp{
        padding: 0 1rem;
        .journals-buttons-container{
            button{
                width: calc(100% / 3.1);
                span{
                    margin: 0 0.5rem 0 0;
                }
            }
        }
        .journals-container{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .card{
                width: calc(100% / 2.03);
                margin: 0 0 1.5rem 0;
                .card-img-top{
                    height: calc(100% / 2);
                }
                .card-body{   
                    position: relative;
                    .theme-dark &{
                        background: getColor(g-sidebar-dark) !important;
                        border: 1px solid getColor(g-sidebar-dark) !important;
                        color: getColor(g-white) !important;
                    }                 
                    .tag{
                        background: getColor(g-lightblue);
                        color: getColor(g-white);
                        border-radius: 4px;
                        padding: 0.1rem 0.5rem;
                    }
                    .avatar{

                    }
                    .card-title{
                        font-size: 1.35rem;
                        font-weight: 700;
                        padding: 1rem 0;
                        border-bottom: 1px solid getColor(g-sidebar-main);
                        .theme-dark &{
                            border-bottom: 1px solid getColor(g-menu-items-bg);
                        }
                    }
                    .card-text{

                    }
                    .action-btns-container{
                        position: absolute;
                        bottom: 1rem;
                        left: 0;
                        button{
                            background: transparent;
                            border: transparent;
                            font-size: 1rem;
                            display: flex;
                            margin: 0 0.38rem;
                            .icon{
                                font-size: 1.5rem;
                            }
                            &.active{
                                .icon{
                                    color: getColor(g-lightblue);
                                }                                
                            }
                            .theme-dark & {
                                color: getColor(g-white) !important;
                            }
                        }
                    }                    
                }
            }
        }
    }

}
.theme-switch-wrapper {
    width: 100%;
    padding: 0 30px;
    z-index: 99;  
    .theme-status{
        color: getColor(g-black);
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.017rem;
        .theme-dark &{      
            color: getColor(g-theme-status);
        }
    }
    // .switch {
    //     position: relative;
    //     display: inline-block;
    //     width: 60px;
    //     height: 34px;
    // }
      
    // .switch input { 
    // opacity: 0;
    // width: 0;
    // height: 0;
    // }
      
    // .slider {
    // position: absolute;
    // cursor: pointer;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // background-color:  #2196F3;
    // -webkit-transition: .4s;
    // transition: .4s;
    // }
      
    // .slider:before {
    // position: absolute;
    // content: "";
    // height: 26px;
    // width: 26px;
    // left: 4px;
    // bottom: 4px;
    // background-color: white;
    // -webkit-transition: .4s;
    // transition: .4s;
    // }
    
    // input:checked + .slider {
    // background-color:  #ccc;
    // }
    
    // input:focus + .slider {
    // box-shadow: 0 0 1px  #ccc;
    // }
    
    // input:checked + .slider:before {
    // -webkit-transform: translateX(26px);
    // -ms-transform: translateX(26px);
    // transform: translateX(26px);
    // }
    
    // .slider.round {
    // border-radius: 34px;
    // }
    
    // .slider.round:before {
    // border-radius: 50%;
    // }
} 

.search-container{
    input{
        border-radius: 20px;  
        .theme-dark &{            
            background: getColor(g-sidebar-dark);
            border-color: getColor(g-sidebar-dark);
            color: getColor(g-white);
        }        
    }
}

.notification-card{
    padding: 1rem;
    border-radius: 8px;
    .img-container{
        width: 60px;
        height: 60px;
        background: grey;
        border-radius: 30px;       
        img{
        width: 100%;
       }
    }
    .card-body{
        padding: 0 1rem;
        .card-title{
            font-weight: 600;
        }
        .card-text{
            margin: 0 0 0.5rem 0 !important;
        }
    }
    .theme-dark &{            
        background: getColor(g-sidebar-dark);
        color: getColor(g-white);
    }   
}